node_modules
ErrorView
log/*
credentials.json
back/calendars/db-init.js
.DS_Store
dist
calendars
frontNuxt

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

/back/routes/calendar_with_cache.js
/back/db-init.js
