<%- include('blocks/header', {let: active = "error", let: title = "Error", let: errNumber = errorCode}) %>
<main class="page">
    <section class="clean-block error">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Whoooops <%= errorCode %>!</h2>
                <p>Un petit problème est survenu 👀</p>
            </div>
        </div>
    </section>
</main>
<%- include('blocks/footer', {let: active = "error"}) %>
