<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Error - IESN Schedule</title>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/css/bootstrap-select.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" href="/assets/css/styles.min.css">
    <link rel="icon" type="image/png" sizes="96x96" href="https://portail.henallux.be/favicon-96x96.png">
</head>

<body>
<!-- Start: Header Dark -->
<nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark clean-navbar">
    <div class="container"><a class="navbar-brand" href="/">IG-IESN Scheduler</a>
        <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span
                    class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse"
             id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li class="nav-item" role="presentation"><a class="nav-link" href="/">Accueil</a></li>
                <li class="nav-item" role="presentation"><a class="nav-link" href="help">Help</a></li>
            </ul>
        </div>
    </div>
</nav>
<!-- End: Header Dark -->
<main class="page">
    <section class="clean-block about-us">
        <div class="container">
            <div class="block-heading">
                <h2 class="text-info">Whoooops <%= errorCode %>!</h2>
                <p>Un petit problème est survenu 👀</p>
            </div>
        </div>
    </section>
</main>
<!-- Start: Footer Basic -->
<div class="footer-basic">
    <footer>
        <!-- Start: Social Icons -->
        <div class="social"><a href="https://github.com/tclaude94/IESNScheduler" target="_blank"><i
                        class="icon ion-social-github"></i></a></div>
        <!-- End: Social Icons -->
        <!-- Start: Copyright -->
        <p class="copyright">Support : contact@thibaultclaude.be | Discord :&nbsp;<strong>tiiBz</strong>#5309<br></p>
        <!-- End: Copyright -->
    </footer>
</div>
<!-- End: Footer Basic -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap-select@1.13.9/dist/js/bootstrap-select.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script src="/assets/js/script.min.js"></script>
</body>

</html>