<%- include('blocks/header') %>
<main class="page">
    <section class="clean-block help">
        <div id="fridayAlert" role="alert"></div>
        <div class="container">
            <div class="alert alert-warning text-center" role="alert"><span><strong>Attention !&nbsp;</strong><br>Le calendrier Google se met automatiquement à jour une seule fois par jour (restriction Google)<br>Le calendrier Outlook se met automatiquement à jour toutes les 3 heures en général (restriction Outlook)</span>
            </div>
            <nav id="toc" data-toggle="toc">
                <p>Navigation</p>
            </nav>
            <hr id="sepNav">
            <div class="block-heading">
                <div class="row">
                    <div class="col">
                        <h2 class="text-info">Ajouter le lien à GAgenda</h2>
                    </div>
                </div>
                <div class="row" style="padding-top: 2%;">
                    <div class="col justify-content-xl-center"><a href="/assets/img/URL.png" data-toggle="lightbox"><img
                                    class="img-fluid" src="/assets/img/URL.png" style="width: 800px;"
                                    alt="Copier l'URL générée"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Une fois que tu as choisi les groupes et classes voulus, génère le lien et copie le.</p>
                    </div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex align-items-xl-center">
                        <p>Pour s'abonner au calendrier sur Gmail, rends toi sur ce lien : <a
                                    href="https://calendar.google.com/" target="_blank">https://calendar.google.com/</a>.
                            Crée ensuite un agenda "<em>à partir de l'URL</em>" via la sidebar de
                            gauche.</p>
                    </div>
                    <div class="col d-xl-flex align-items-xl-center"><a href="/assets/img/agendaGoogle.png"
                                                                        data-toggle="lightbox"><img class="img-fluid"
                                                                                                    src="/assets/img/agendaGoogle.png"
                                                                                                    alt="Créer agenda à partir d'une URL"></a>
                    </div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex justify-content-xl-center"><a href="/assets/img/agendaGoogle2.png"
                                                                            data-toggle="lightbox"><img
                                    class="img-fluid" src="/assets/img/agendaGoogle2.png" alt="Coller l'URL"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Puis colle l'URL générée au préalable dans le champ "<em>URL de l'agenda</em>" et valide.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="block-heading">
                <div class="row">
                    <div class="col">
                        <h2 class="text-info">Ajouter le lien à Outlook</h2>
                    </div>
                </div>
                <div class="row" style="padding-top: 2%;">
                    <div class="col justify-content-xl-center"><a href="/assets/img/URL.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/URL.png" style="width: 800px;"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Une fois que tu as choisi les groupes et classes voulus, génère le lien et copie le.</p>
                    </div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex align-items-xl-center">
                        <p>Pour s'abonner au calendrier sur Outlook, rends toi sur ce lien : <a href="https://outlook.live.com/calendar/view/month" target="_blank"><br>https://outlook.live.com/calendar/view/month<br></a>&nbsp;Et choisi d'importer un
                            calendrier via la sidebar de gauche.</p>
                    </div>
                    <div class="col d-xl-flex align-items-xl-center"><a href="/assets/img/agendaOutlook.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/agendaOutlook.png"></a></div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex justify-content-xl-center"><a href="/assets/img/agendaOutlook2.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/agendaOutlook2.png"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Sélectionne "à partir du web" puis colle l'URL générée au préalable dans le champ "<em>Lien vers le calendrier</em>" et valide.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="block-heading">
                <div class="row">
                    <div class="col">
                        <h2 class="text-info">Ajouter le lien à iOS</h2>
                    </div>
                </div>
                <div class="row" style="padding-top: 2%;">
                    <div class="col justify-content-xl-center"><a href="/assets/img/URL.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/URL.png" style="width: 800px;"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Une fois que tu as choisi les groupes et classes voulus, génère le lien et copie le.</p>
                    </div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex align-items-xl-center">
                        <p>Pour s'abonner au calendrier depuis un appareil sous iOS, va dans les paramètres puis dans la section "<em>Comptes et mots de passe</em>". Puis clique sur "<em>Ajouter un compte</em>"</p>
                    </div>
                    <div class="col d-xl-flex align-items-xl-center"><a href="/assets/img/agendaIOS.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/agendaIOS.png"></a></div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex justify-content-xl-center"><a href="/assets/img/agendaIOS2.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/agendaIOS2.png"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Choisi ensuite l'option "<em>Autre</em>"</p>
                    </div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex align-items-xl-center">
                        <p>Puis l'option "<em>Ajouter un cal. avec abonnement</em>"</p>
                    </div>
                    <div class="col d-xl-flex align-items-xl-center"><a href="/assets/img/agendaIOS3.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/agendaIOS3.png"></a></div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex justify-content-xl-center"><a href="/assets/img/agendaIOS4.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/agendaIOS4.png"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Colle l'URL générée au préalable dans le champ "Serveur" et fait "Suivant"</p>
                    </div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex align-items-xl-center">
                        <p>Inutile de préciser un nom d'utilisateur ou mot de passe, tu peux faire "Enregistrer" directement</p>
                    </div>
                    <div class="col d-xl-flex align-items-xl-center"><a href="/assets/img/agendaIOS5.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/agendaIOS5.png"></a></div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('blocks/footer') %>
