<%- include('blocks/header', {let: active = "help", let: title = "Help"}) %>
<main class="page">
    <section class="clean-block help">
        <div class="container">
            <div class="alert alert-warning text-center" role="alert"><span><strong>Attention !&nbsp;</strong><br>Le calendrier Google se met automatiquement à jour une seule fois par jour (restriction Google).</span>
            </div>
            <div class="block-heading">
                <div class="row">
                    <div class="col">
                        <h2 class="text-info">Ajouter le lien à GAgenda</h2>
                    </div>
                </div>
                <div class="row" style="padding-top: 2%;">
                    <div class="col justify-content-xl-center"><a href="/assets/img/URL.png" data-toggle="lightbox"><img
                                    class="img-fluid" src="/assets/img/URL.png" style="width: 800px;"
                                    alt="Copier l'URL générée"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Une fois que tu as choisi les groupes et classes voulus, génère le lien et copie le.</p>
                    </div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex align-items-xl-center">
                        <p>Pour s'abonner au calendrier sur Gmail, rends toi sur ce lien : <a
                                    href="https://calendar.google.com/" target="_blank">https://calendar.google.com/</a>.
                            Crée ensuite un agenda "<em>à partir de l'URL</em>" via la sidebar de
                            gauche.</p>
                    </div>
                    <div class="col d-xl-flex align-items-xl-center"><a href="/assets/img/agendaGoogle.png"
                                                                        data-toggle="lightbox"><img class="img-fluid"
                                                                                                    src="/assets/img/agendaGoogle.png"
                                                                                                    alt="Créer agenda à partir d'une URL"></a>
                    </div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex justify-content-xl-center"><a href="/assets/img/agendaGoogle2.png"
                                                                            data-toggle="lightbox"><img
                                    class="img-fluid" src="/assets/img/agendaGoogle2.png" alt="Coller l'URL"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Puis colle l'URL générée au préalable dans le champ "<em>URL de l'agenda</em>" et valide.</p>
                    </div>
                </div>
            </div>
            <hr>
            <div class="block-heading">
                <div class="row">
                    <div class="col">
                        <h2 class="text-info">Ajouter le lien à Outlook</h2>
                    </div>
                </div>
                <div class="row" style="padding-top: 2%;">
                    <div class="col justify-content-xl-center"><a href="/assets/img/URL.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/URL.png" style="width: 800px;"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Une fois que tu as choisi les groupes et classes voulus, génère le lien et copie le.</p>
                    </div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex align-items-xl-center">
                        <p>Pour s'abonner au calendrier sur Outlook, rends toi sur ce lien : <a href="https://outlook.live.com/calendar/view/month" target="_blank"><br>https://outlook.live.com/calendar/view/month<br></a>&nbsp;Et choisi d'importer un
                            calendrier via la sidebar de gauche.</p>
                    </div>
                    <div class="col d-xl-flex align-items-xl-center"><a href="/assets/img/agendaOutlook.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/agendaOutlook.png"></a></div>
                </div>
                <div class="row" style="padding-top: 5%;">
                    <div class="col d-xl-flex justify-content-xl-center"><a href="/assets/img/agendaOutlook2.png" data-toggle="lightbox"><img class="img-fluid" src="/assets/img/agendaOutlook2.png"></a></div>
                    <div class="col d-xl-flex justify-content-xl-center">
                        <p>Sélectionne "à partir du web" puis colle l'URL générée au préalable dans le champ "<em>Lien vers le calendrier</em>" et valide.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
<%- include('blocks/footer', {let: active = "help"}) %>
